/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    /* font size */
    --fs-400: 1rem;
    --fs-500: 1.625rem;
    --fs-600: 1.96rem;
  }

  /* main {
    padding-inline: 0;
  } */
  .container {
    width: 90%;
  }

  .skill-meter {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 30px 35px -30px var(--clr-primary-500);
  }

  .space {
    height: 420px;
  }

  .personal-info-container {
    flex-direction: row;
    gap: 1rem;
  }

  .skills .content {
    padding-bottom: 5rem;
  }

  .project-grid {
    flex-direction: row;
  }
  .contact .two-col {
    flex-direction: row;
  }
}

@media (max-width: 992px) {
  .about-me .container {
    width: 100%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
  .navigation-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }

  .mobile-nav-toggle {
    display: none;
  }
  .primary-navigation {
    /* margin-left: 2.5rem; */
    display: block;
    margin-left: 2rem;
  }

  .nav-list > li {
    display: inline-block;
    padding-inline: var(--padding-sm);
  }

  /* welcome */
  .welcome-content {
    min-height: calc(100vh - 59px);
  }
  .welcome-flex-parent {
    flex-direction: row;
    align-items: center;
  }

  .w-left,
  .w-right {
    flex-grow: 1;
  }

  .w-left > .flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .w-left h1 {
    font-size: 4.185rem;
    flex-grow: 1;
  }

  .my-image-potrait {
    height: 500px;
    width: 250px;
    border-radius: 9rem;
    box-shadow: -23px 49px 59px -36px var(--clr-primary-500);
  }

  .w-right > .flex {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .oval-card {
    height: 500px;
    width: 250px;
    border-radius: 9rem;
    border: 4px solid var(--clr-primary-100);
    padding-block: 6rem;
    padding-inline: 1rem;
  }

  /* .oval-card > .flex {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  } */

  .about-me .content {
    padding-left: var(--padding-lg);
    position: relative;
  }

  .about-me .content-wrapper {
    width: 80%;
    padding-block: 5rem;
  }
  .about-me .content-inner-wrapper {
    width: 85%;
  }

  .about-me .my-image {
    display: block;
    position: absolute;
    right: -215px;
    height: 170px;
    top: 50px;
    transform: translateY(50%);
  }

  .about-me .my-image > img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 33px 29px 35px -35px var(--clr-primary-500);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
